@font-face {
  font-family: "BalsamiqSans";
  src: url("../fonts/BalsamiqSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

